<% set_meta_tags title: @sample.title, description: @sample.description %>

<% content_for(:header) do %>
  <div>
    <div class="mb-1">
      <%= link_to @sample.category.name, category_path(@sample.category.slug), class: "block text-[#950000] underline" %>
    </div>

    <h1 class="text-xl font-normal leading-normal text-white">
      <%= @sample.title %>
    </h1>
  </div>

  <div class="flex flex-col items-end">
    <div class="mb-1">
      <% if policy(@sample).edit? %>
        <%= link_to "Edit", [:edit, @sample], class: "px-2 py-1 bg-[#950000] text-white text-sm rounded" %>
      <% end %>
    </div>

    <div class="text-white text-sm">
      Curated <%= relative_time @sample.created_at %> ago by
      <%= link_to user_path(@sample.user.username) do %>
        @<span class="underline"><%= @sample.user.username %></span>
      <% end %>
    </div>
  </div>
<% end %>

<% if @sample.description.present? %>
  <h3 class="text-[#868686] text-sm mb-2">Description</h3>

  <div class="max-w-3xl">
    <%= @sample.description %>
  </div>
<% end %>

<%= turbo_frame_tag "editor", data: { turbo_action: "advance" } do %>
  <%= render "sample_files/editor", sample_files: @sample.sample_files, sample_file: @sample_file if @sample_file.present? %>
<% end %>
