<% set_meta_tags(
  title: @sample.title,
  description: strip_markdown(@sample.description),
  og: {
    image: (rails_blob_url(@sample_file.open_graph_image) if @sample_file.open_graph_image.attached?)
  },
  twitter: {
    image: (rails_blob_url(@sample_file.open_graph_image) if @sample_file.open_graph_image.attached?)
  }
) %>

<% content_for(:header) do %>
  <%= render HeaderComponent.new do |c| %>
    <% c.with_parent do %>
      <%= link_to @sample.category.name, category_path(@sample.category.slug) %>
    <% end %>

    <% c.with_actions do %>
      <% if policy(@sample).edit? %>
        <%= link_to "Edit", [:edit, @sample], class: "px-2 py-1 bg-[#950000] text-white text-sm rounded" %>
      <% end %>
    <% end %>

    <% c.with_title do %>
      <div class="flex-col space-x-4">
        <%= @sample.title %>

        <% if @sample.status_private? %>
          <div class="flex space-x-1">
            <%= render "icons/heroicons/solid/lock-closed" %>
            <div class="text-sm">Private</div>
          </div>
        <% end %>
      </div>
    <% end %>

    <% c.with_details do %>
      Curated <%= relative_time @sample.created_at %> ago by
      <%= link_to user_path(@sample.user.username) do %>
        @<span class="underline"><%= @sample.user.username %></span>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% if @sample.description.present? %>
  <h3 class="text-[#868686] text-sm mb-2">Description</h3>

  <div class="prose prose-blue max-w-4xl" data-turbo="false">
    <%= markdown @sample.description %>
  </div>
<% end %>

<%= turbo_frame_tag "editor", data: { turbo_action: "advance" } do %>
  <%= render "sample_files/editor", sample_files: @sample.sample_files, sample_file: @sample_file if @sample_file.present? %>
<% end %>
