<%= link_to sample, class: "bg-white rounded shadow-sm px-4 py-3" do %>
  <div class="flex-col justify-between">
    <div class="flex justify-between space-x-4">
      <div class="mb-1 text-[#950000] underline">
        <%= sample.title %>
      </div>

      <% if sample.status_private? %>
        <div class="text-neutral-400">
          <%= render "icons/heroicons/solid/lock-closed" %>
        </div>
      <% end %>
    </div>

    <div class="mb-4 text-sm text-neutral-700 h-10 line-clamp-2">
      <%= sample.description %>
    </div>

    <div class="bg-[#454545] p-4 rounded mb-4 text-xs leading-relaxed text-white font-recursive-mono">
      <div class="overflow-hidden h-24" data-controller="highlight">
        <pre><%= sample.sample_files.first.first_lines(5) %></pre>
      </div>
    </div>

    <div class="text-xs text-neutral-500">
      Curated <%= relative_time sample.created_at %> ago by
      @<span class="underline"><%= sample.user.username %></span>
    </div>
  </div>
<% end %>
