<% set_meta_tags title: "Account Settings" %>

<% content_for(:header) do %>
  <div>
    <h1 class="text-xl font-normal leading-normal text-white">
      Account Settings
    </h1>
  </div>

  <div class="flex flex-col items-end">
  </div>
<% end %>

<div class="max-w-lg">
  <%= form_for current_user, url: account_account_path do |f| %>
    <% if current_user.errors.any? %>
      <p>Please review the problems below:</p>

      <ul class="list-disc list-inside mb-4">
        <% current_user.errors.full_messages.each do |msg| %>
          <li class="ml-4"><span><%= msg.html_safe %></span></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>

  <h3 class="text-gray-700 mb-6">Avatar</h3>

  <%# image_tag user_avatar(current_user, size: 200), class: "w-full object-cover" %>

  <%= form_for current_user, url: account_account_path, builder: TailwindBuilder do |f| %>
    <%# f.file_field :avatar, label: false %>

    <%= f.submit "Upload Avatar", class: "px-3 py-2 text-white rounded bg-gray-800 hover:bg-gray-900 cursor-pointer" %>
  <% end %>

  <hr class="my-6 border-t-[#cecece]">

  <h3 class="text-gray-700 mb-6">User Details</h3>

  <%= form_for current_user, url: account_account_path, builder: TailwindBuilder do |f| %>
    <div class="mb-4">
      <%= f.label :email %>
      <%= f.email_field :email, input_html: { class: "max-w-sm" } %>
    </div>

    <% if current_user.pending_reconfirmation? %>
      <p class="mb-4 text-red-700">Currently waiting for confirmation of: <%= current_user.unconfirmed_email %></p>
    <% end %>

    <div class="mb-4">
      <%= f.label :username %>
      <%= f.text_field :username, input_html: { class: "max-w-xs" } %>
    </div>

    <%= f.submit "Update Details", class: "px-3 py-2 text-white rounded bg-gray-800 hover:bg-gray-900 cursor-pointer" %>
  <% end %>

  <hr class="my-6 border-t-[#cecece]">

  <h3 class="text-gray-700 mb-6">Password</h3>

  <%= form_for current_user, url: account_password_path, builder: TailwindBuilder do |f| %>
    <div class="flex flex-col md:flex-row md:space-x-4 lg:space-x-8 mb-4">
      <div class="flex-1">
        <%= f.label :current_password %>
        <%= f.password_field :current_password %>
      </div>

      <div class="flex-1">
      </div>
    </div>

    <div class="flex flex-col md:flex-row md:space-x-4 lg:space-x-8 mb-4">
      <div class="flex-1">
        <%= f.label :password %>
        <%= f.password_field :password, label: "New password" %>
      </div>

      <div class="flex-1">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, label: "Confirm new password" %>
      </div>
    </div>

    <%= f.submit "Update Password", class: "px-3 py-2 text-white rounded bg-gray-800 hover:bg-gray-900 cursor-pointer" %>
  <% end %>
</div>
