<% set_meta_tags title: @user.username %>

<% content_for(:header) do %>
  <%= render HeaderComponent.new do |c| %>
    <% c.with_parent do %>
      <%= link_to "Users", [:users] %>
    <% end %>

    <% c.with_title do %>
      <%= image_tag user_avatar(@user), class: "h-12 w-12 bg-white border-2 border-white rounded-full mr-2" %>
      @<%= @user.username %>
    <% end %>
  <% end %>
<% end %>

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
  <%= render @samples %>
</div>
