<% set_meta_tags title: "Forgot Password?" %>

<% content_for(:header) do %>
  <%= render HeaderComponent.new do |c| %>
    <% c.with_title.with_content("Forgot Password?") %>
  <% end %>
<% end %>

<div class="max-w-lg">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), builder: TailwindBuilder, html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="mb-4">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <%= f.submit "Send password reset instructions", class: "px-3 py-2 text-white rounded bg-neutral-800 hover:bg-neutral-900 cursor-pointer" %>
  <% end %>
</div>
