<% set_meta_tags title: "Forgot password?" %>

<% content_for(:header) do %>
  <div>
    <h1 class="text-xl font-normal leading-normal text-white">
      Forgot password?
    </h1>
  </div>

  <div class="flex flex-col items-end">
  </div>
<% end %>

<div class="max-w-lg">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), builder: TailwindBuilder, html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="mb-4">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <%= f.submit "Send password reset instructions", class: "px-3 py-2 text-white rounded bg-neutral-800 hover:bg-neutral-900 cursor-pointer" %>
  <% end %>
</div>
