<% set_meta_tags title: @category.name, description: strip_markdown(@category.description) %>

<% content_for(:header) do %>
  <%= render HeaderComponent.new do |c| %>
    <% c.with_parent do %>
      <%= link_to "Categories", [:categories] %>
    <% end %>

    <% c.with_actions do %>
      <% if policy(@category).edit? %>
        <%= link_to "Edit", [:edit, @category], class: "px-2 py-1 bg-[#950000] text-white text-sm rounded" %>
      <% end %>
    <% end %>

    <% c.with_title.with_content(@category.name) %>
  <% end %>
<% end %>

<% if @category.description.present? %>
  <h3 class="text-[#868686] text-sm mb-2">Description</h3>

  <div class="prose prose-blue max-w-4xl mb-6" data-turbo="false">
    <%= markdown @category.description %>
  </div>
<% end %>

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
  <%= render @samples %>
</div>
