<nav class="bg-[#950000] flex justify-center">
  <div class="max-w-7xl px-4 py-2 flex flex-1 justify-between items-center">
    <%= link_to root_path, class: "text-xl font-semibold" do %>
      <span class="text-red-500">Rails</span><span class="text-white">Inspire</span>
    <% end %>

    <div class="hidden md:block">
      <div class="flex items-center space-x-1">
        <%= link_to "Users", users_path, class: "text-white text-sm px-2 py-1" %>
        <%= link_to "Categories", categories_path, class: "text-white text-sm px-2 py-1" %>
        <%= link_to [:new, :sample], class: "text-white text-sm px-2 py-1" do %>
          <%= render "icons/heroicons/solid/plus-sm" %>
        <% end %>

        <% if user_signed_in? %>
          <div class="relative" data-controller="toggle" data-toggle-toggle-class="hidden">
            <button data-action="click->toggle#toggle click@window->toggle#hide" class="max-w-xs flex space-x-1 items-center focus:outline-none" id="user-menu" aria-haspopup="true">
              <span class="sr-only">Open user menu</span>

              <%= image_tag user_avatar(current_user), class: "h-7 w-7 bg-white border-2 border-white rounded-full" %>

              <div class="text-white">
                <%= render "icons/heroicons/solid/chevron-down" %>
              </div>
            </button>

            <div data-toggle-target="toggleable" class="hidden origin-top-right absolute right-0 mt-2 w-48 rounded-sm shadow-md py-1 bg-white ring-1 ring-black ring-opacity-5" role="menu" aria-orientation="vertical" aria-labelledby="user-menu">
              <%= link_to "Settings", account_root_path, class: "block px-3 py-2 text-sm text-neutral-600 hover:bg-neutral-100", role: "menuitem" %>

              <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "block w-full text-left px-3 py-2 text-sm text-neutral-600 hover:bg-neutral-100", role: "menuitem" %>
            </div>
          </div>
        <% else %>
          <%= link_to "Login", new_user_session_path, class: "text-white text-sm px-3 py-1" %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
